body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    justify-content: space-between;
    margin-top: 20px;

}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    justify-content: space-between; 
    margin-top: 20px;
}

.board{
    border: 2px solid;
    width: 500px;
    height: 500px;
    display: grid;
    margin-top: 20px;
    
}

